@model IEnumerable<VwEquipeLigueArgentCoach>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ligue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Équipe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Coach)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateDeCréation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArgentGagnerEnTrournois)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ligue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Équipe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Coach)
            </td>
            <td>
                Ce champs est encrypté. Pour voir la date de création, voir les détails.
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArgentGagnerEnTrournois)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.ÉquipeId">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
